body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 1rem;
}
