/* Reset & base styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

.card {
  box-shadow: 0 40px 20px rgba(0, 0, 0, 0.1);
  border: none; /* opcional: remove borda cinza padrão do Bootstrap */
  border-radius: 1rem; /* garante arredondamento igual ao da home */
}

/* Diagonal background */
body {
  background: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron.centered {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 40px 20px rgba(0, 0, 0, 0.1);
  max-width: 480px;
  margin: auto;
}

/* Center the content */
.centered {
  text-align: center;
  color: #3d3440;
}

.form-group label {
  display: block;
  text-align: left;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}
/* Optional: tweak button spacing */
.centered .btn {
  margin: 10px;
}

/* Footer remains */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding: 1rem;
}
